<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="format-detection" content="telephone=no" />
      <meta name="msapplication-tap-highlight" content="no" />
      <title>TIW Issues</title>
      
      <!-- AngularJs Javascript File -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	 
	  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">

	  <!-- link rel="stylesheet" href="themes/tiwPocket.min.css" id="theme"/ -->
	  <link rel="stylesheet" href="css/tiwPocketBlue.min.css" id="theme"/>
	  <!-- link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" / -->
	 
	  <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

	  <script type="text/javascript" src="js/libraries/underscore-min.js"></script>
	  <script  type="text/javascript" src="js/libraries/progressBar/ngprogress.js"></script>
	  <script  type="text/javascript" src="js/libraries/moment.min.js"></script>
	  
      <script type="text/javascript" src="js/remoteIssues.js"></script>
      <!-- script type="text/javascript" src="js/libraries/angularOnlineCheck.js"></script -->	
      
      <!-- Bootstrap Css --><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	  <link rel="stylesheet" href="js/libraries/progressBar/ngProgress.css">
	  <link rel="stylesheet" href="css/app.css">

<script>
		$(function() {
			$( "[data-role='navbar']" ).navbar();
			$( "[data-role='header'], [data-role='footer']" ).toolbar();
			$( "body>[data-role='panel']" ).panel();
	
		});
		// Update the contents of the toolbars
		$( document ).on( "pagecontainerchange", function() {
			// Each of the four pages in this demo has a data-title attribute
			// which value is equal to the text of the nav button
			// For example, on first page: <div data-role="page" data-title="Info">
			var current = $( ".ui-page-active" ).jqmData( "title" );
			// Change the heading
			$( "[data-role='header'] h1" ).text( current );
			// Remove active class from nav buttons
			$( "[data-role='navbar'] a.ui-btn-active" ).removeClass( "ui-btn-active" );
			// Add active class to current nav button
			$( "[data-role='navbar'] a" ).each(function() {
				if ( $( this ).text() === current ) {
					$( this ).addClass( "ui-btn-active" );
				}
			});
		});
	
	</script>
</head>
<body  ng-app="myApp" ng-controller="IssuesController">
  

  <div data-role="page" data-title="Pocket Infoweb" class="jqm-demos" id="Info">
     <div data-role="header" data-position="fixed" data-theme="a">      
       <h1></h1>
        <a href="#nav-panel" class="ui-btn-right" data-icon="action" data-iconpos="notext">Navigate</a>
      </div><!-- /header -->

      <div role="main" class="ui-content jqm-content jqm-fullwidth">      
      <img src="images/workShopEquipmentLogo.png" style="width:100%;"/>
      <img src="images/tiwHeader.png" style="width:100%;"/>
      <div class="row">
            <div class="col-md-12">
              <p ng-show="showBadUserName" animate-on-change="currentUser.userName" >{{currentUser.userName}}: please enter a different eMail Address and Check eMail again</p>
              <div ng-hide="userLoggedIn">
                <label for="eMailAddress" class="text-secondary">Enter eMail as Registered on Tools Infoweb:</label>  
                <input type="eMail" id="eMailAddress" name="eMailAddress" ng-model="eMailAddress" placeholder="eMail Address as Registered" class="form-control"/>
                <label for="pin" class="text-secondary">Pocket Infoweb Access PIN generated on Tools Infoweb:</label>  
                <input type="number" id="pin" name="pin" ng-model="pin" placeholder="Pocket Infoweb Access PIN" class="form-control"/>

                <button id="btnCheckEmail" class="btn btn-info" ng-click="validateEmail(eMailAddress,pin)" ng-disabled="!(eMailAddress)"> Check eMail</button>
                <p>To activate Pocket Infoweb you will need to generate an access PIN for your userId. Login to Tools Infoweb, go to FAQ | About, click on button: Generate App PIN.</p>
                <p><i>Pocket Infoweb is only available to registered users of Tools Infoweb.</i></p>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

            

        <table ng-show="userLoggedIn" animate-on-change="statList" class="table table-striped table-responsive wipTable">
          <tbody ng-repeat="stat in statList">
            <tr ng-hide="!userLoggedIn"><td>{{currentUser.userName}}</td><td  class="aRight" colspan="3">{{currentUser.userId}}</td></tr>
            <tr><td>{{stat.login}}</td><td  class="aRight" colspan="3">{{stat.userName}}</td></tr>
            <tr><td>{{currentUser.role}}</dh><td  class="aRight" colspan="3">{{currentUser.brand}}</td></tr>
            <tr><th>Mandatory Tools</th><td class="aRight">{{toolList.length | number}}</td><th>Logged</th><td  class="aRight">{{stat.loggedTools | number}}</td></tr>
            
            <tr><th>Loan Tool Usage</th><td  class="aRight">{{stat.ltpUse | number}}</td><th>Current Bookings</th><td  class="aRight">{{stat.ltpCurrent}}</td></tr>
            <tr><th>Web Tickets Raised</th><td  class="aRight">{{stat.tiwTicketsRaised | number}}</td><th>Closed Tickets</th><td  class="aRight">{{stat.tiwTicketsClosed}}</td></tr>
            <tr>
              <th>Active Jobs</th><td  class="aRight">{{wipList.length | number}}</td>
              <th>Workshop App Effectiveness</th><td>{{stat.loggedTools / toolList.length * 100 | number: 2}}%</td>
            </tr>
            <tr><th>Service Measures</th><td  class="aRight">{{stat.activeServiceMeasures}}</td>
              <th>Completed</th><td  class="aRight">{{stat.completedServiceMeasures}}</td>
            </tr>
            

          </tbody>
        </table>

<pre id="debugger" style="display:none;">
Server: {{serverId}}
</pre>
<script>
  var h=$(window).height();
  var w=$(window).width();
  $('#debugger').append("screen h:" + h + " w:" + w+'   \n');
</script>

            </div>
          </div>
    </div><!-- /content -->

    <div data-role="panel" data-position="right" data-display="push" data-theme="b" id="nav-panel">
          <ul data-role="listview">
              <li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
        <li>Available Options</li>
        <li data-icon="user"><a id="btnResetAll" class="btn btn-secondary" ng-click="resetAll()">Log Out and Reset</a></li>
          <!-- li data-icon="refresh"><a id="btnRefreshIssueList" class="btn btn-secondary" ng-click="refreshIssueList()">Refresh Issues</a></li -->
          <li data-icon="refresh"><a id="btnRefreshStatList" class="btn btn-secondary" ng-click="refreshStatList()">Refresh Key Statistics</a></li>
          <li data-icon="refresh"><a id="btnRefreshToolsList" class="btn btn-secondary" ng-click="refreshToolsList()">Refresh List Of Tools</a></li>
          <li data-icon="refresh"><a id="btnRefreshProductsList" class="btn btn-secondary" ng-click="refreshProductList()">Refresh Products</a></li>
          <li data-icon="refresh"><a id="btnRefreshNewsList" class="btn btn-secondary" ng-click="refreshNewsList()">Refresh News</a></li>
          <li data-icon="refresh"><a id="btnRefreshWipList" class="btn btn-secondary" ng-click="refreshWipList()">Refresh Job List</a></li>
          <li data-icon="refresh"><a id="btnRefreshLtpList" class="btn btn-secondary" ng-click="refreshLtpList()">Refresh LTPs</a></li>
          <li>Version 1.1.17</li>
          <!-- li data-icon="refresh"><a id="btnRefreshCampaignList" class="btn btn-secondary" ng-click="refreshCampaignList()">Refresh Service Measures</a></li -->
           </ul>
      
    <pre>
      <table>
        <tr><th>id</th></tr>
        <tr><td>{{currentUser.intId}}</td></tr>
        <tr><th>role</th></tr>
        <tr><td>{{currentUser.role}}</td></tr>
        <tr><th>brand</th></tr>
        <tr><td>{{currentUser.brand}}</td></tr>
      </table>
  </pre>
    </div><!-- /panel -->
    <div data-role="panel" data-position="right" data-display="reveal" data-theme="a" id="add-form">
        
    </div><!-- /panel -->
</div>

<!-- ------------     Search For A Tool -----------------------   -->
<div id="wipBuilder" data-title="Tools Locator" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="a">
      <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>
      <h1>Tools & Equipment</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content jqm-content jqm-fullwidth">
      <div class="row">
        
        <div class="col-md-12">
          <label for="tool" class="text-secondary">Locate Tool: <span class="smallerFont">({{toolList.length | number}} available)</span></label>       
          <input type="text" name="tool" id="tool" 
            ng-model="tool" ng-keyup="tname(tool)" 
            placeholder="Search Tools" 
            class="form-control autocomplete" 
            ng-disabled="!userLoggedIn" />  
          <ul class="list-group autocomplete-items ui-focus" 
            ng-hide="hideToolMatch">
             <li class="list-group-item" 
                ng-repeat="tool_info in filterTool" 
                ng-click="fillSelInputBox(tool_info)">{{tool_info.partNumber}} ({{tool_info.toolNumber}}) {{tool_info.partDescription}}</li>
          </ul>
        </div>
        <div class="col-md-12">
          <p ng-show="{{whileLoading}}"">PLEASE WAIT - LOADING TOOLS LIST <img height="24px" src="images/working.gif"/></p>
          <!-- button class="btn btn-info" ng-click="refreshToolList();">Refresh</button -->
            <p style="display:none" id="tText" class="text-info" ng-hide="(selectedTool.length<1)">Last Selection:<br/><strong>{{ selectedTool }}</strong></p>  
        </div>
      </div>
            
      <div class="row">
        <div class="col-md-12">
          <table width="100%" class="table table-striped table-responsive wipTable" style="font-size:smaller; ">
            <caption>These are the items in your list for Job Number: {{wipNumber}}</caption>
            <thead>
              <tr>
                <th>Part<br/>
                  Tool</th>
                <th colspan="2">Description</th>
                <th>Last Location</th>
                
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="useTool in chosenList track by $index">
                <td>{{useTool.partNumber}}<br/>{{useTool.toolNumber}}</td>
                <td>{{useTool.partDescription}}</td>
                <td><img 
                    ng-src="https://toolsinfoweb.co.uk/mandatoryList/content/images/toolsList/{{imageName(useTool.toolType, useTool.partNumber, useTool.toolNumber)}}.png" 
                    class="toolImage img-zoom" 
                    onerror="this.src='https://toolsinfoweb.co.uk/mandatoryList/content/images/icons/rudeFileNotFound.png'; return false" /></td>   
                <td>{{useTool.location}}<br/>{{useTool.toolCondition}}<br/>{{useTool.lastWIP}}</td>
                <td><button id="btnDeleteTool" ng-click="removeTool(useTool);" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all"></button></td>
              </tr>
            </tbody>
          </table>
          <button id="btnClearWIP" ng-click="clearThisWip();" 
              ng-disabled="chosenList.length==0" 
              class="ui-btn ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all">Clear</button>
          <div>
            <label for="wipNumber" class="text-secondary">Enter Job Number:</label>       
            <input type="number" name="wipNumber" id="wipNumber" ng-model="wipNumber" placeholder="Enter a Job Number" class="form-control" ng-disabled="!userLoggedIn"/>  
          </div>
          <button id="btnStoreWIP" ng-click="storeThisWip();" 
              ng-disabled="(chosenList.length==0 || wipNumber.length<2 || safeToAddWIP(wipList,wipNumber)==false)"
              class="ui-btn ui-icon-plus ui-btn-icon-left ui-shadow ui-corner-all">Book to Job No: {{wipNumber}}</button>
        </div>
      </div>
      
      
      <div class="row">
        
        <div class="col-sm-12 wipList">
          {{wipList.length}} Active Stored Jobs for {{currentUser.dealerId}}<br/>
          <span animate-on-change="wipList" class="wipList">
            <span ng-repeat="wip in wipList  | orderBy:'wipNumber'">
                {{wip.wipNumber}}   
              </span>
            </span>
            <!-- pre>{{wipList | orderBy:'wipNumber' | json}}</pre -->
          </div>
        </div>
        
      </div>
    </div>  
</div>


<!-- --------  WIPs created for this Dealer -----------------------   -->
<div id="dealerWIPs" data-title="Jobs For {{currentUser.dealerName}}" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="a">
      <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>
      <h1>WIPs for {{currentUser.dealerName}}</h1>  
      </div><!-- /header -->
      <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <!-- pre>{{wipList | json}}</pre -->
        <input type="text" name="searchWIPs" id="searchWIPs" ng-model="searchWIPs" data-type="search" placeholder="Search your Booked Jobs ..."/>
        <div class="row" ng-repeat="wip in wipList| filter: searchWIPs | orderBy:'-wipNumber'">
          <div class="col-sm-12">
            <div class="wipList" style="width:100%; background-color:silver;">Job:{{wip.wipNumber}} By:{{wip.createdBy}} On:{{wip.createdDate}}</div>
            <a href="#" ng-show='currentUser.intId==wip.userIntId' ng-click="removeWIP(wip);" class="ui-btn ui-btn-right ui-icon-delete ui-btn-icon-notext ui-corner-all"></a>
          
            <table style="width:100%" class="table table-striped table-responsive wipTable">
              <tr  ng-repeat="tool in wip.tools track by $index">
                <td>{{tool.partNumber}}<br/>{{tool.toolNumber}}</td>
                <td>{{tool.partDescription}}</td>
                <td><img ng-src="https://toolsinfoweb.co.uk/mandatoryList/content/images/toolsList/{{imageName(tool.toolType, tool.partNumber, tool.toolNumber)}}.png" class="toolImage img-zoom" onerror="this.src='https://toolsinfoweb.co.uk/mandatoryList/content/images/icons/rudeFileNotFound.png'; return false" /></td>
                <td>{{tool.location}}<br/>{{tool.lastWIP}}</td>

              </tr>
            </table>    
          </div>
        </div>
        
        </div>

</div>

<!-- --------  Service Measures created for this Dealer -----------------------   -->
<div id="campaigns" data-title="Service Measure Actions" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="a">
      <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>
      <h1>Service Measure Actions</h1>
      </div><!-- /header -->
      <div role="main" class="ui-content jqm-content jqm-fullwidth">
      <!--pre>{{campaignList}}</pre-->
        <input type="text" name="searchCampaigns" id="searchCampaigns" ng-model="searchCampaigns" data-type="search" placeholder="Search Service Measures ..."/>    
          <div class=" ui-bar ui-bar-b" style="font-weight:normal;"ng-repeat="campaign in campaignList| filter: searchCampaigns | orderBy:'-id'">
            <div class="ui-grid-b" style="padding-top:20px; font-weight:bold;">
              <div class="ui-block-a" style="width:33%;"><div class=""><a ng-href="{{serverId}}content/documents/toolRecalls/{{campaign.toolBrief}}"" target="_blank">{{campaign.menuText}}</a></div></div>
              <div class="ui-block-b" style="width:66%;"><div class="" >{{campaign.toolsAffected}}</div></div>            
          </div><!-- /grid-b -->
          <div class="ui-grid-b" >
              <div class="ui-block-a"><div class="" >{{campaign.startDate}}</div></div>
              <div class="ui-block-b"><div class="" >{{campaign.expiryDate}}</div></div>
              <div class="ui-block-c"><div class="" >{{handleActionSteps(campaign.actionSteps)}}</div></div>
          </div><!-- /grid-b -->
      
          </div>
        
          

    </div>
</div>
<!-- --------  LTP Items  -----------------------   -->
<div id="ltpItems" data-title="Loan Tool Programme" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="a">
          <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>
      <h1>Loan Tools</h1>
      </div><!-- /header -->
      <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <input type="text" name="searchLTP" id="searchLTP" ng-model="searchLTP" data-type="search" placeholder="Search Loan Tools ..."/>

        <div class=" ui-bar ui-bar-a">
          <div class="ui-grid-b">
            <div class="ui-block-a" style="width:33%;"><div class="" >Loan Tool Number</div></div>
            <div class="ui-block-b" style="width:66% !important; "><div class="" >Kit Description</div></div>  
        </div><!-- /grid-b -->
        <div class="ui-grid-b" >
            <div class="ui-block-a"><div class="" >Order Number</div></div>
            <div class="ui-block-b"><div class="" >Tool Number</div></div>
            <div class="ui-block-c"><div class="" >Next Available Date</div></div>
        </div><!-- /grid-b -->
      </div>
        <div class=" ui-bar ui-bar-b" style="font-weight:normal;" ng-repeat="ltpItem in ltpList| filter: searchLTP | orderBy:'loanToolNo'">
          <div class="ui-grid-b" style="padding-top:20px; font-weight:bold;">
            <div class="ui-block-a" style="width:33%;"><div class=""><a ng-href="#chosenLTP" ng-click="setChosenLtp(ltpItem)">{{ltpItem.loanToolNo}}</a></div></div>
            <div class="ui-block-b" style="width:66%;"><div class="" >{{ltpItem.toolDescription}}</div></div>           
        </div><!-- /grid-b -->
        <div class="ui-grid-b" >
            <div class="ui-block-a"><div class="" >{{ltpItem.orderPartNo}}</div></div>
            <div class="ui-block-b"><div class="" >{{ltpItem.supplierPartNo}}</div></div>
            <div class="ui-block-c"><div class="" >{{handleDate(ltpItem.nextAvailableDate)}}</div></div>
        </div><!-- /grid-b -->
      </div>

        <!-- pre>{{ltpList | json}}</pre -->
        
        </div>

</div>




<!-- --------  Chosen LTP Details -----------------------   -->
<div id="chosenLTP" data-title="Loan Tool Item Details" data-role="page" data-dialog="true">
    <div data-role="header" data-position="fixed" data-theme="a">
      
      <h1></h1>
        </div><!-- /header -->
      <div role="main" class="ui-content jqm-content">
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Category</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.icName}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >LTP Kit Number</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.loanToolNo}}</div></div>
         </div><!-- /grid-b -->
         <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Description</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.toolDescription}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Notes</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.commentary}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Order Number</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.orderPartNo}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Part Number</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.supplierPartNo}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Next Available Date</div></div>
            <div class="ui-block-b"><div class="" >{{handleDate(chosenLtp.nextAvailableDate)}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="">
          <div class="ui-block-a"><div class="" >Kit Price: GBP</div></div>
            <div class="ui-block-b"><div class="" >{{chosenLtp.kitPrice | number}}</div></div>
         </div><!-- /grid-b -->
        <div class="ui-grid-a" style="" ng-show="currentUser.role=='Manager'">
          <div class="ui-block-a"><div class="" >Applicability</div></div>
            <div class="ui-block-b"><div class="" ><table>
                                  <tr><th>AU </th><th>VW </th><th>CV </th><th>SK </th><th>SE </th></tr>
                                  <tr><td>{{chosenLtp.au}}</td>
                                    <td>{{chosenLtp.vw}}</td><td>{{chosenLtp.cv}}</td><td>{{chosenLtp.sk}}</td><td>{{chosenLtp.se}}</td></tr>
            </table></div></div>
         </div><!-- /grid-b -->

        <!-- pre>{{chosenLtp | json}}</pre -->  
          
    </div>  
</div>




<!-- --------  Latest News Headlines -----------------------   -->
<div id="latestNews" data-title="Latest News" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="a">
      <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>
      <h1>Latest News From TIW</h1>
          
      </div><!-- /header -->
      <div role="main" class="ui-content jqm-content jqm-fullwidth">

            
      <form class="ui-filterable">
          <input id="jqm_searchNews" data-type="search" placeholder="Search news ...">
      </form>
      <ul data-role=listview  data-filter="true"  id="ulNewsList" data-input="#jqm_searchNews" data-split-theme="b" data-inset="true">
        <li  ng-repeat="newsItem in newsList">
          <a ng-href="#chosenNews" ng-click="setChosenItem(newsItem)">
            <img  ng-src="{{serverId}}content/images/headlines/{{newsItem.imageName}}"/>
            <h2>{{cleanDisplay(newsItem.headline)}}</h2>
            <p>{{cleanDisplay(newsItem.newstext)}}</p>
          </a>
          <a ng-href="{{contentLink(newsItem.linkTo)}}" target="_blank"></a>
        </li>
      </ul>
      <!-- pre>{{newsList | json}}</pre -->
        
          
    </div>  
</div>


<!-- --------  New Product Details -----------------------   -->
<div id="newProducts" data-title="Latest Products" data-role="page">
    <div data-role="header" data-position="fixed" data-theme="a">
      <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>
      <h1>Latest News From TIW</h1>
          
      </div><!-- /header -->
      <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <form class="ui-filterable">
          <input id="jqm_searchProducts" data-type="search" placeholder="Search latest products ...">
      </form>
      <ul data-role="listview"  data-filter="true"  id="ulProductList" data-input="#jqm_searchProducts" data-split-theme="b" data-inset="true">
        <li  ng-repeat="newsItem in productList">
          <a ng-href="#chosenNews" ng-click="setChosenItem(newsItem)">
            <img  ng-src="{{serverId}}content/images/headlines/{{newsItem.imageName}}"/>
            <h2>{{cleanDisplay(newsItem.headline)}}</h2>
            <p>{{cleanDisplay(newsItem.newstext)}}</p>
          </a>
          <a ng-href="{{contentLink(newsItem.linkTo)}}" target="_blank"></a>
        </li>
      </ul>
        
          
    </div>  
</div>


<!-- --------  Chosen News/ Product Details -----------------------   -->
<div id="chosenNews" data-title="Headlines" data-role="page" data-dialog="true">

    <div data-role="header" data-position="fixed" data-theme="a">
      
      <h1></h1>
        </div><!-- /header -->
      <div role="main" class="ui-content jqm-content">
        <p> 
          <a ng-href="{{contentLink(chosenItem.linkTo)}}" target="_blank">
            <img  ng-src="{{serverId}}content/images/headlines/{{chosenItem.imageName}}"/>
            <h2>{{cleanDisplay(chosenItem.headline)}}</h2>
          </a>
        </p>
        <p>{{cleanDisplay(chosenItem.newstext)}}</p>
    </div>  
</div>




<!--  ---------- Wish List aka Issues ------------------------------------  -->
<div id="pageTwo" data-title="Wish List" data-role="page">
  <div data-role="header" data-position="fixed" >
      <a href="#Info" data-icon="home" data-iconpos="notext" data-direction="reverse" data-transition="slide"></a>  
      <h1>Wish List For TIW Development</h1>
      </div><!-- /header -->
      <div role="main" class="ui-content jqm-content jqm-fullwidth">      
      <div class="row">
        <div class="col-md-12">              
            <table class="table table-striped table-responsive dataTable">
            <caption>Issues Logged On Tools Infoweb</caption>
            <thead>
              <tr>
                <th><button ng-click="sortBy('headline')">Headline</button>
        <span class="sortorder" ng-show="propertyName === 'headline'" ng-class="{reverse: reverse}"></span></th>
                <th><button ng-click="sortBy('issueType')">Type</button>
        <span class="sortorder" ng-show="propertyName === 'issueType'" ng-class="{reverse: reverse}"></span></th>
                <th><button ng-click="sortBy('status')">Status</button>
        <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span></th>
                <th><button ng-click="sortBy('dateLastUpdate')">Last Update</button>
        <span class="sortorder" ng-show="propertyName === 'dateLastUpdate'" ng-class="{reverse: reverse}"></span></th>
              </tr>
              <tr><input type="text" name="searchText" id="searchText" ng-model="searchText"/></tr>
            </thead>
            <tbody>
              <tr ng-repeat="useIssue in issueList | orderBy:propertyName:reverse | filter:searchText">
                <td>{{useIssue.headline}}</td>
                <td>{{useIssue.issueType}}</td>
                <td>{{useIssue.status}}</td>
                <td>{{useIssue.dateLastUpdate.length>0 && useIssue.dateLastUpdate || useIssue.dateCreated}}<br/>
                  {{useIssue.updatedBy.length>0 && useIssue.updatedBy || useIssue.createdBy}}</td>
                
                
              </tr>
            </tbody>
          </table>
        </div>
          </div>

    </div>  
</div>




  </div><!-- /page -->

  <div data-role="panel" id="leftMenuPanel" data-position="left" data-display="overlay" data-theme="a">
      <!-- ul data-role="listview">
        <li><a href="#Info" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-btn-inline" data-prefetch="true" data-transition="flip">Home</a></li>
        <li><a href="#wipBuilder" data-prefetch="true" data-transition="flip">Tool Locator</a></li>
        <li><a href="#dealerWIPs" data-prefetch="true" data-transition="flip">WIPs</a></li>
        <li><a href="#latestNews" data-prefetch="true" data-transition="flip">News</a></li>
        <li><a href="#newProducts" data-prefetch="true" data-transition="flip">Products</a></li>
        <li><a href="#ltpItems" data-prefetch="true" data-transition="flip">LTP</a></li>
        <li><a href="#campaigns" data-prefetch="true" data-transition="flip">SMs</a></li>
      </ul -->
      <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>  
      <ul data-role="listview">
          <li>Themes</li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocket.min">Default</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketGray.min">Gray</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketBlue.min">Blue</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketRed.min">Red</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketYellow.min">Yellow</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwScratch.min">Scratch</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketGreyGreen.min">Grey Green</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketTurquoise.min">Turquoise</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketDarkBlue.min">Dark Blue</a></li>
          <li data-icon="recycle"><a class="btn btn-outline-info themeMenuChange" data-theme="tiwPocketChocolate.min">Chocolate</a></li>
      </ul> 
  </div><!-- /leftMenuPanel -->

  <div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
      <ul>
        <li><a href="#wipBuilder" data-prefetch="true" data-transition="flip">Locator</a></li>
        <li><a href="#dealerWIPs" data-prefetch="true" data-transition="flip">Jobs</a></li>
        <li><a href="#latestNews" data-prefetch="true" data-transition="flip">News</a></li>
        <li><a href="#newProducts" data-prefetch="true" data-transition="flip">Products</a></li>
        <li><a href="#ltpItems" data-prefetch="true" data-transition="flip">LTP</a></li>
        <!-- li><a href="#campaigns" data-prefetch="true" data-transition="flip">SMs</a></li -->
      </ul>
    </div>
  </div>



  <script>
    $(function() {
      $('#debugger').append('Javascript Hostname:' + window.location.hostname);

      $('.themeMenuChange').on('click',function(e){
        themeFile='themes/'+$(this).data('theme')+'.css';
        //console.log($(this).data('theme'), themeFile);
         $("#theme").attr("href", themeFile);
      });
    }); 
  </script>

  </body>
</html> 